<% content_for :title do %>PostcardMailer.us Help<% end %>

<p style="margin: 0 0 1em 0;">Hello <%= @email %>,</p>

<h2 style="color: #0066cc; margin-top: 1.5em;">WELCOME TO POSTCARDMAILER.US!</h2>

<p style="margin: 0 0 1em 0;">Thank you for requesting help with PostcardMailer.us. Below you'll find instructions for using our service through email commands.</p>

<h2 style="color: #0066cc; margin-top: 1.5em;">Available Commands</h2>

<%= render 'command_mailer/signup_instructions' %>
<%= render 'command_mailer/adduser_instructions' %>
<%= render 'command_mailer/postcard_instructions' %>
<%= render 'command_mailer/help_instructions' %>

<h2 style="color: #0066cc; margin-top: 1.5em;">Important Notes</h2>
<ul style="margin-left: 20px;">
  <li style="margin-bottom: 0.5em;">New accounts require verification before you can send postcards</li>
  <li style="margin-bottom: 0.5em;">Make sure addresses are complete and formatted correctly</li>
  <li style="margin-bottom: 0.5em;">Image attachments should be clear and high resolution for best results</li>
  <li style="margin-bottom: 0.5em;">The nickname in the email address identifies the recipient</li>
</ul>